*{
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}
.header{
    background: #92dfc8;
    padding: 20px;
}

.content{
    background: #caeff2;
    float: left;
    width: 70%;
    height: 500px;
    margin-left: 0;
}

.aside{
    background: #f2d8ca;
    float: right;
    padding: 20px;
    width: 30%;
    height: 500px;

}

.box{
    background: #f2f1ca;
    padding: 20px;
    height: 150px;
    margin-bottom: 10px;
    float: left;
    margin-right: calc(40px/3);
    width: calc(100%/4 - 10px);
}

.footer{
    background: #eecbf3;
    padding: 20px;

}
.clear-both{
    clear: both;
}

.section-one{
    margin-bottom: 10px;
}
.section-two .box:nth-child(4){
   margin-right: 0;
}
